<h4 class="success">Stock was successfully purchased</h4>
<a class="btn btn-success" asp-action="Details" asp-controller="StockPortfolios" asp-route-id="@ViewBag.AccountID">Portfolio Details</a>
<style>
    .success{
        color: green;
    }
</style>