<div class="row">
    <div class="col-md-4">
        <form asp-action="StockEdit">
            <h6>New Price</h6>
            <div class="form-group">
                <label class="control-label"></label>
                <input name="newPrice" class="form-control" />
            </div>
            <input asp-route-stockID="@ViewBag.StockID" type="submit" value="Update" class="btn btn-primary" />
        </form>
    </div>
</div>