<body>

    <h1>Welcome to Bevo's Bank & Trust!</h1>

    <p>We'll help you moooooooove to financial independence!!</p>

    <h2>Here are our products:</h2>
    <div>
        <table>
            <tr>
                <th>Checking Account</th>
                <td>A standard account used for checks and debit cards</td>
            </tr>
            <tr>
                <th>Savings Account</th>
                <td>Our high APR will have you save up for that Wagyu Beef</td>
            </tr>
            <tr>
                <th>IRA</th>
                <td>Bevo knows how to moove you towards your retirement and greener pastures!</td>
            </tr>
            <tr>
                <th>Stock Portfolio</th>
                <td>Stonks and Bonds, Bevo knows best, and with a low transaction fee</td>
            </tr>
        </table>
    </div>
    <div>
        <a class="btn btn-success" asp-action="Register" asp-controller="User">Apply Today!</a>
    </div>


</body>