@model fa19projectgroup16.Transaction

@{
    ViewData["Title"] = "Transfer";
}

<h1>Confirm Transfer</h1>

<hr />


            <h5>If you want to confirm this transaction, PRESS THIS BUTTON, DO ITTTTTTTT</h5>
            <div class="form-group">
                <a asp-action="Index" asp-controller="Accounts">Confirm Transfer</a>
            </div>
            <h6> If you want to decline this transaction, please press this sad button that takes you back to the home page. :( </h6>
            <div>
                <a asp-action="Index" asp-controller="Accounts">Back to Home Page</a>
            </div>
