@model fa19projectgroup16.Transaction

@{
    ViewData["Title"] = "OverdraftFee";
}

<h1>Overdraft Fee Confirmation</h1>
<p>Congrats! You have overdrafted this account. It will go through, don't worry. However, there will be a $30 fee charged. </p>


@Html.ActionLink("Back to Home Page", "Index", "Accounts")



